apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ include "elasticsearch-monitoring.fullname" . }}
  labels:
    prometheus: "cluster-monitoring"
{{ include "elasticsearch-monitoring.labels" . | indent 4 }}
spec:
  groups:
  - name: esexporter.rules
    rules:
    - alert: ElasticsearchExporterDown
      expr: up{job="{{ include "elasticsearch-monitoring.elasticsearchExporterName" . }}"} != 1
      for: 5m
      labels:
        severity: critical
        group: persistence
      annotations:
        description: 'The Elasticsearch metrics exporter for {{`{{ $labels.job }}`}} is down!'
        summary: Elasticsearch monitoring is DOWN!
        runbook_url: 'https://github.com/skyscrapers/documentation/tree/master/runbook.md#alert-name-elasticsearchexporterdown'
    {{- if .Values.amazonService }}
    - alert: ElasticsearchCloudwatchExporterDown
      expr: up{job="{{ include "elasticsearch-monitoring.cloudwatchExporterName" . }}"} != 1
      for: 5m
      labels:
        severity: critical
        group: persistence
      annotations:
        description: 'The Elasticsearch Cloudwatch metrics exporter for {{`{{ $labels.job }}`}} is down!'
        summary: Elasticsearch monitoring is DOWN!
        runbook_url: 'https://github.com/skyscrapers/documentation/tree/master/runbook.md#alert-name-elasticsearchcloudwatchexporterdown'
    {{- end }}
  - name: escluster.rules
    rules:
    - alert: ElasticsearchClusterHealthYellow
      expr: elasticsearch_cluster_health_status{color="yellow", job="{{ include "elasticsearch-monitoring.elasticsearchExporterName" . }}"} != 0
      for: 5m
      labels:
        severity: warning
        group: persistence
      annotations:
        description: 'Elasticsearch cluster health for {{`{{ $labels.cluster }}`}} is yellow.'
        summary: Elasticsearch cluster is Yellow
        runbook_url: 'https://github.com/skyscrapers/documentation/tree/master/runbook.md#alert-name-elasticsearchclusterhealthyellow'
    - alert: ElasticsearchClusterHealthRed
      expr: elasticsearch_cluster_health_status{color="red", job="{{ include "elasticsearch-monitoring.elasticsearchExporterName" . }}"} != 0
      for: 5m
      labels:
        severity: critical
        group: persistence
      annotations:
        description: 'Elasticsearch cluster health for {{`{{ $labels.cluster }}`}} is RED!'
        summary: Elasticsearch cluster is RED!
        runbook_url: 'https://github.com/skyscrapers/documentation/tree/master/runbook.md#alert-name-elasticsearchclusterhealthred'
    - alert: ElasticsearchClusterEndpointDown
      expr: elasticsearch_cluster_health_up{job="{{ include "elasticsearch-monitoring.elasticsearchExporterName" . }}"} != 1
      for: 5m
      labels:
        severity: critical
        group: persistence
      annotations:
        description: 'Elasticsearch cluster endpoint for {{`{{ $labels.cluster }}`}} is DOWN!'
        summary: Elasticsearch cluster endpoint is DOWN!
        runbook_url: 'https://github.com/skyscrapers/documentation/tree/master/runbook.md#alert-name-elasticsearchclusterendpointdown'
  - name: esdata.rules
    rules:
    {{- if .Values.amazonService }}
    - alert: ElasticsearchAWSLowDiskSpace
      expr: sum(label_join(aws_es_free_storage_space_minimum{job="{{ include "elasticsearch-monitoring.cloudwatchExporterName" . }}"}, "cluster", ":", "client_id", "domain_name")) by (cluster) / min(clamp_max(elasticsearch_filesystem_data_size_bytes{job="{{ include "elasticsearch-monitoring.elasticsearchExporterName" . }}", es_data_node="true"}/1024/1024, 102400)) by (cluster) <= 0.1
      for: 15m
      labels:
        severity: warning
        group: persistence
      annotations:
        description: 'AWS Elasticsearch cluster {{`{{ $labels.cluster }}`}} is low on free disk space'
        summary: AWS Elasticsearch low disk
        runbook_url: 'https://github.com/skyscrapers/documentation/tree/master/runbook.md#alert-name-elasticsearchawslowdiskspace'
    - alert: ElasticsearchAWSNoDiskSpace
      expr: sum(label_join(aws_es_free_storage_space_minimum{job="{{ include "elasticsearch-monitoring.cloudwatchExporterName" . }}"}, "cluster", ":", "client_id", "domain_name")) by (cluster) / min(clamp_max(elasticsearch_filesystem_data_size_bytes{job="{{ include "elasticsearch-monitoring.elasticsearchExporterName" . }}", es_data_node="true"}/1024/1024, 102400)) by (cluster) <= 0.05
      for: 15m
      labels:
        severity: critical
        group: persistence
      annotations:
        description: 'AWS Elasticsearch cluster {{`{{ $labels.cluster }}`}} has no free disk space'
        summary: AWS Elasticsearch out of disk
        runbook_url: 'https://github.com/skyscrapers/documentation/tree/master/runbook.md#alert-name-elasticsearchawsnodiskspace'
    - alert: ElasticsearchIndexWritesBlocked
      expr: max(label_join(aws_es_cluster_index_writes_blocked_maximum{job="{{ include "elasticsearch-monitoring.cloudwatchExporterName" . }}"}, "cluster", ":", "client_id", "domain_name")) by (cluster) > 0
      for: 10m
      labels:
        severity: critical
        group: persistence
      annotations:
        description: 'AWS Elasticsearch cluster {{`{{ $labels.cluster }}`}} is blocking incoming write requests'
        summary: AWS ElasticSearch is blocking write requests
        runbook_url: 'https://github.com/skyscrapers/documentation/tree/master/runbook.md#alert-name-elasticsearchindexwritesblocked'
    {{- else }}
    - alert: ElasticsearchLowDiskSpace
      expr: elasticsearch_filesystem_data_available_bytes{job="{{ include "elasticsearch-monitoring.elasticsearchExporterName" . }}"} / elasticsearch_filesystem_data_size_bytes{job="{{ include "elasticsearch-monitoring.elasticsearchExporterName" . }}"} <= 0.1
      for: 15m
      labels:
        severity: warning
        group: persistence
      annotations:
        description: 'Elasticsearch node {{`{{ $labels.node }}`}} on cluster {{`{{ $labels.cluster }}`}} is low on free disk space'
        summary: Elasticsearch low disk
        runbook_url: 'https://github.com/skyscrapers/documentation/tree/master/runbook.md#alert-name-elasticsearchlowdiskspace'
    - alert: ElasticsearchNoDiskSpace
      expr: elasticsearch_filesystem_data_available_bytes{job="{{ include "elasticsearch-monitoring.elasticsearchExporterName" . }}"} / elasticsearch_filesystem_data_size_bytes{job="{{ include "elasticsearch-monitoring.elasticsearchExporterName" . }}"} <= 0.05
      for: 15m
      labels:
        severity: critical
        group: persistence
      annotations:
        description: 'Elasticsearch node {{`{{ $labels.node }}`}} on cluster {{`{{ $labels.cluster }}`}} has no free disk space'
        summary: Elasticsearch out of disk
        runbook_url: 'https://github.com/skyscrapers/documentation/tree/master/runbook.md#alert-name-elasticsearchnodiskspace'
    {{- end }}
  - name: esmemory.rules
    rules:
    - alert: ElasticsearchHeapTooHigh
      expr: elasticsearch_jvm_memory_used_bytes{area="heap", job="{{ include "elasticsearch-monitoring.elasticsearchExporterName" . }}"} / elasticsearch_jvm_memory_max_bytes{area="heap", job="{{ include "elasticsearch-monitoring.elasticsearchExporterName" . }}"} > 0.9
      for: 15m
      labels:
        severity: warning
        group: persistence
      annotations:
        description: 'The JVM heap usage for Elasticsearch cluster {{`{{ $labels.cluster }}`}} on node {{`{{ $labels.node }}`}} has been over 90% for 15m'
        summary: ElasticSearch heap usage is high
        runbook_url: 'https://github.com/skyscrapers/documentation/tree/master/runbook.md#alert-name-elasticsearchheaptoohigh'
