
Dex:
  # Issuer: "https://dex.example.com"

Kubesignin:
  Image: "skyscrapers/kubesignin"
  ImageTag: "latest"
  ImagePullPolicy: "Always"

  ClientId: kubesignin
  ClientSecret: MzU4UDk0OFc2MkV2OFFiUGg1Q3Q=

  # # Should be accessible from user browser
  # NodePort: 30080
  # RedirectUri: https://kubesignin.example.com/callback

  # # This is going to be used for both kubesignin and dex
  # DomainName: kubesignin.example.com

  Memory: 16Mi
  Cpu: 2m
  Replicas: 1

  # Tokens that have these groups as claims will be given admin access to the cluster
  K8sAdminsGroups: []
    # - "myorg:myteam"
    # - "otherorg:someteam"

  # Debug: true
