workload:
  type: statefulset
  replicas: 3

persistence:
  enabled: true
  storageClass: gp3
  size: 20Gi
  mount:
    defaultEnabled: true
    mountPath: /var/lib/data

# Keep headless primary for STS
service:
  headless:
    enabled: true

containers:
  - name: app
    image: nginx:1.25-alpine
    ports:
      - name: http
        containerPort: 8080

extraServices:
  - name: web # will be <fullname>-web
    type: ClusterIP
    headless: false
    ports:
      - name: http
        port: 80
        targetPort: http

ingresses:
  - name: public
    enabled: true
    className: nginx
    hosts:
      - host: stateful.example.com
        paths:
          - path: /
            pathType: Prefix
            service: { name: web, port: http } # targets non-headless extra service
