# Default values for openvpn.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

updateStrategy: {}
  # type: RollingUpdate
  # rollingUpdate:
  #   maxSurge: 1
  #   maxUnavailable: 0

image:
  repository: kylemanna/openvpn
  tag: 2.4
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  # type: NodePort
  type: LoadBalancer
  externalPort: 443
  internalPort: 443
  # hostPort: 443
  externalIPs: []
  # nodePort: 32085
  # clusterIP: None
  # LoadBalancerSourceRanges: 0.0.0.0/0
  # loadBalancerIP: 10.0.0.1
  annotations: {}

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # requests:
  #   cpu: 10m
  #   memory: 32Mi
  # limits:
  #   memory: 32Mi

nodeSelector: {}

tolerations: {}

affinity: {}

podAnnotations: {}

readinessProbe:
  initialDelaySeconds: 5
  periodSeconds: 5
  successThreshold: 2

persistence:
  ## If set to "-", storageClassName: "", which disables dynamic provisioning
  ## If undefined (the default) or set to null, no storageClassName spec is
  ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
  ##   GKE, AWS & OpenStack)
  ##
  # storageClassName: "-"
  accessMode: ReadWriteOnce
  size: 1Gi

openvpn:
  # Network allocated for openvpn clients (default: 10.240.0.0).
  OVPN_NETWORK: 10.240.0.0
  # Network subnet allocated for openvpn client (default: 255.255.0.0).
  OVPN_SUBNET: 255.255.0.0
  # Protocol used by openvpn tcp or udp (default: udp).
  OVPN_PROTO: tcp
  # Kubernetes pod network (optional).
  # OVPN_K8S_POD_NETWORK: "10.0.0.0"
  # Kubernetes pod network subnet (optional).
  # OVPN_K8S_POD_SUBNET: "255.255.0.0"
  # Kubernetes service network (optional).
  # OVPN_K8S_SVC_NETWORK: "172.20.0.0"
  # Kubernetes service network subnet (optional).
  # OVPN_K8S_SVC_SUBNET: "255.255.0.0"
  # Push a `dhcp-option DOMAIN` config
  dhcpOptionDomain: true
  # Redirect all client traffic through VPN
  redirectGateway: true
  # Use/generate certificate revocation list
  useCrl: true
  # Use/generate a ta.key (https://openvpn.net/community-resources/hardening-openvpn-security/)
  taKey: true
  # Override default cipher
  cipher: AES-256-CBC
  # Lines appended to the end of the server configuration file
  # serverConf: |
  #  push "dhcp-option DOMAIN foo.svc.cluster.local"
  #  push "route 10.0.0.0 255.255.0.0"
  # Lines appended to the end of the client configuration file
  # clientConf: |
  #  script-security 2
  #  up /etc/openvpn/update-systemd-resolved
  #  up-restart
  #  down /etc/openvpn/update-systemd-resolved
  #  down-pre
  iptablesExtra: []
  # - -A FORWARD -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
  # - -A FORWARD -m conntrack --ctstate NEW -d 10.240.0.0/255.255.0.0 -j ACCEPT
  # - -A FORWARD -j REJECT

debug: false
