# Default values for rds-monitoring.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

prometheusSelectorLabels:
  prometheus: rds-monitoring

# Filters the Prometheus alert by a pre-defined AWS tag. This is useful
# if you only want to alert on metrics from production databases.
# You can disable the filtering by setting `tagFilter` to null or ""
tagFilter:
  key: Environment
  value: production

# SLA of the RDS cluster to monitor.
# sla: production

# Add additional labels to the alerts.
# alertsLabels:

## The following settings are for the prometheus-cloudwatch-exporter chart
prometheus-cloudwatch-exporter:
  replicaCount: 1

  serviceMonitor:
    enabled: true
    interval: 60s
    labels:
      prometheus: cloudwatch-exporter
    timeout: 30s

  resources:
    limits:
      memory: 320Mi
    requests:
      cpu: 10m
      memory: 320Mi

  aws:
    region: eu-west-1
    ## kube2iam
    # role: <arn>

  serviceAccount:
    create: true
    ## IRSA
    # annotations:
    #   eks.amazonaws.com/role-arn: <arn>

  securityContext:
    runAsUser: 65534
    fsGroup: 65534

  rbac:
    create: true

  config: |-
    region: {{ .Values.aws.region }}
    period_seconds: 60
    set_timestamp: false
    metrics:
      - aws_namespace: AWS/RDS
        aws_metric_name: CPUCreditBalance
        aws_dimensions: [DBInstanceIdentifier]
        aws_statistics: [Average]
        aws_tag_select:
          resource_type_selection: "rds:db"
          resource_id_dimension: DBInstanceIdentifier
      - aws_namespace: AWS/RDS
        aws_metric_name: CPUUtilization
        aws_dimensions: [DBInstanceIdentifier]
        aws_statistics: [Average]
      - aws_namespace: AWS/RDS
        aws_metric_name: FreeableMemory
        aws_dimensions: [DBInstanceIdentifier]
        aws_statistics: [Average]
      - aws_namespace: AWS/RDS
        aws_metric_name: FreeStorageSpace
        aws_dimensions: [DBInstanceIdentifier]
        aws_statistics: [Average]
      - aws_namespace: AWS/RDS
        aws_metric_name: DiskQueueDepth
        aws_dimensions: [DBInstanceIdentifier]
        aws_statistics: [Average]
      - aws_namespace: AWS/RDS
        aws_metric_name: ReadIOPS
        aws_dimensions: [DBInstanceIdentifier]
        aws_statistics: [Average]
      - aws_namespace: AWS/RDS
        aws_metric_name: WriteIOPS
        aws_dimensions: [DBInstanceIdentifier]
        aws_statistics: [Average]
      - aws_namespace: AWS/RDS
        aws_metric_name: ReplicaLag
        aws_dimensions: [DBInstanceIdentifier]
        aws_statistics: [Average, Maximum]
