apiVersion: v1
kind: Service
metadata:
  name: "{{ .Release.Name }}-calico"
  namespace: kube-system
  labels:
{{ include "labels" $ | indent 4 }}
    component: calico
spec:
  type: ClusterIP
  ports:
  - name: metrics
    port: 9091
    targetPort: 9091
    protocol: TCP
  selector:
    k8s-app: calico-node
