apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
{{ include "labels" $ | indent 4 }}
    {{- range $key, $val := .Values.prometheus.labels }}
    {{ $key }}: {{ $val | quote }}
    {{- end}}
  name: "{{ .Release.Name }}"
spec:
  groups:
  - name: mongodb.rules
    rules:
    - alert: MongodbMetricsDown
      expr: up{job="{{ .Release.Name }}-metrics"} != 1
      for: 5m
      labels:
        severity: critical
        group: persistence
      annotations:
        description: 'The MongoDB metrics exporter for {{`{{ $labels.job }}`}} is down!'
        summary: MongoDB monitoring is DOWN!
        runbook_url: 'https://github.com/skyscrapers/documentation/tree/master/runbook.md#alert-name-mongodbmetricsdown'
    - alert: MongodbLowConnectionsAvailable
      expr: mongodb_mongod_connections{state='available'} < 10
      for: 1m
      labels:
        severity: warning
        group: persistence
      annotations:
        description: 'Low connections available on {{`{{$labels.instance}}`}}'
        summary: 'Low connections available on {{`{{$labels.instance}}`}}'
        runbook_url: 'https://github.com/skyscrapers/documentation/tree/master/runbook.md#alert-name-mongodblowconnectionsavailable'
    - alert: MongodbUnhealthyMember
      expr: mongodb_mongod_replset_member_health != 1
      for: 1m
      labels:
        severity: critical
        group: persistence
      annotations:
        description: 'A mongo node with issues has been detected on {{`{{$labels.instance}}`}}'
        summary: 'A mongo node in the cluster is unhealthy'
        runbook_url: 'https://github.com/skyscrapers/documentation/tree/master/runbook.md#alert-name-mongodbunhealthymember'
    - alert: MongodbReplicationLagWarning
      expr: rate(mongodb_mongod_replset_oplog_head_timestamp[5m]) > 10
      for: 5m
      labels:
        severity: warning
        group: persistence
      annotations:
        description: 'The replication is running out on {{`{{$labels.instance}}`}} more than 10 seconds'
        summary: 'The replication is lagging on {{`{{$labels.instance}}`}}'
        runbook_url: 'https://github.com/skyscrapers/documentation/tree/master/runbook.md#alert-name-mongodbreplicationlagwarning'
    - alert: MongodbReplicationLagCritical
      expr: rate(mongodb_mongod_replset_oplog_head_timestamp[5m]) > 60
      for: 5m
      labels:
        severity: critical
        group: persistence
      annotations:
        description: 'The replication is running out on {{`{{$labels.instance}}`}} more than 60 seconds'
        summary: 'The replication is lagging on {{`{{$labels.instance}}`}}'
        runbook_url: 'https://github.com/skyscrapers/documentation/tree/master/runbook.md#alert-name-mongodbreplicationlagcritical'
